
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Yatra+One');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');


body {

}

header {
	font-family: 'Arial', sans-serif;
	font-size: 24px;
	text-align: center;

}

nav a {
	
	text-decoration: underline;
	color: #000000;
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	display: inline-block;
}

a {
	display: block;
	padding: 10px;
	width: 200 px;	
}

a:hover {
	background-color:;
}

img {

}

h2 {
	font-weight: 500;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
}

h3, h4	{
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-variant: uppercase;
}

p {
	font-family: 'Cormorant Garamond', serif;
	font-size: 6 px;
	line-height: 1em;
}

footer {

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


 
.two-columns .column {
	width: 50%;
	float: left;
	padding: 2em 0;
	display:block;
	overflow: hidden;
}

.clear:after {
	content:"";
	display: block;
	clear: both;
}

.three-columns .column {
	width: 33.3%;
	float: left;	
	column-count: auto;
	column-fill: balance;
	
}

#intro-column1 {
	background-color: #FFAEC3;
}

#intro-column2 {
	background-color: #FFAEC3;
}












